.card-highlight {
    height: 200px;
    border-radius: 16px;
    background: red;
    position: relative;
    margin-bottom: 4px;
    overflow: hidden;
    cursor: pointer;
}

.card-highlight-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 16px;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.card-highlight-title {
    font-size: 12px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-highlight-desc {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-action {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-highlight:hover .card-action {
    display: flex;
}

.card-btn-action {
    background: white;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.card-edit {
    color: green;
}

.card-delete {
    color: red;
}

.big-button-container {
    width: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.big-button-image-container {
    border-radius: 10px;
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #6d9773;
    position: relative;
}

.big-button-image {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.big-button-text {
    color: #5b5b5b;
    font-size: 12px;
}

.big-button-action {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
    padding: 8px;
    border-radius: 4px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.big-button-action-list {
    cursor: pointer;
}

.big-button-action-list:hover {
    font-weight: 600;
}

.big-button-image-container:hover .big-button-action {
    display: flex;
}

.big-tab-container {
    border-radius: 12px;
}

.big-tab-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.type-1 .big-tab-text {
    width: 80%;
}

.type-1 {
    background-color: #0b392c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.type-1 .big-tab-title {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.type-1 .big-tab-body {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.type-1 .big-tab-button {
    width: 75px;
    height: 27px;
    border-radius: 31px;
    color: #0c3a2d;
    background-color: #ffc000;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type-2 {
    padding: 4px;
    position: relative;
}

.form-action {
    display: none;
    border-radius: 12px;
}

.type-1 .form-action, .type-2 .form-action, .type-3 .form-action {
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.type-1:hover .form-action,
.type-2:hover .form-action,
.type-3:hover .form-action {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(109, 151, 115, 0.5);
    left: 0;
    top: 0;
}

.type-2 .big-tab-title {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.type-2 .big-tab-body {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.type-3 {
    padding: 16px;
    background-color: #0c3a2d;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.type-3 .img-container {
    width: 24px;
    height: 24px;
}

.type-3 .img-container {
    width: 24px;
    height: 24px;
}
